@import './colors';


.contentFromType() {
  &[data-file]::after {
    content: attr(data-file);
  }
}

.backgroundFromType() {
  &[data-file*=zip],
  &[data-file*=rar] {
    &::after {
      background: @brown;
    }
  }

  &[data-file*=dwg],
  &[data-file*='3ds'] {
    &::after {
      background: @purple;
    }
  }

  &[data-file*=doc],
  &[data-file*=rtf],
  &[data-file*=txt] {
    &::after {
      background: @blue;
    }
  }

  &[data-file*=svg],
  &[data-file*=ai] {
    &::after {
      background: @orange;
    }
  }

  &[data-file*=pdf] {
    &::after {
      background: @red;
    }
  }

  &[data-file*=xml],
  &[data-file*=csv],
  &[data-file*=xls] {
    &::after {
      background: @green;
    }
  }

  &[data-file*=jpg],
  &[data-file*=jpeg],
  &[data-file*=gif],
  &[data-file*=png] {
    &::after {
      background: @dark-blue;
    }
  }
}
