@width: 100px;
@height: 140px;
@fold-size: 50px;
@label-width: 100px;
@label-height: 50px;
@font-size: 40px;

// SIZES
@small-divisor: 5;


// COLORS
@border-color: #8C8C8C;
@white: #FFFFFF;


.iconGradient(@color, @step) {
  @gradient: ~"45deg, @{color} calc(100% - @{step}), rgba(255, 255, 255, 0) calc(100% - @{step}), rgba(255, 255, 255, 0) 100%";
  background: -ms-linear-gradient(@gradient);
  background: -o-linear-gradient(@gradient);
  background: -moz-linear-gradient(@gradient);
  background: -webkit-linear-gradient(@gradient);
  background: linear-gradient(@gradient);
}


.borderGradient(@color, @step) {
  @gradient: ~"45deg, @{color} calc(100% - @{step}), rgba(255, 255, 255, 0) calc(100% - @{step}), rgba(255, 255, 255, 0) 100%";
  border-image: -ms-linear-gradient(@gradient);
  border-image: -o-linear-gradient(@gradient);
  border-image: -moz-linear-gradient(@gradient);
  border-image: -webkit-linear-gradient(@gradient);
  border-image: linear-gradient(@gradient);
}


.foldGradient(@fold-width) {
  @gradient: ~"45deg, @{white} calc(50% - @{fold-width}), @{border-color} calc(50% - @{fold-width}), @{border-color} calc(50% + @{fold-width}), transparent calc(50% + @{fold-width}), transparent 100%";
  background: -ms-linear-gradient(@gradient);
  background: -o-linear-gradient(@gradient);
  background: -moz-linear-gradient(@gradient);
  background: -webkit-linear-gradient(@gradient);
  background: linear-gradient(@gradient);
}


.polygonPath(@a, @b) {
  clip-path: polygon(calc(100% - @a) 0, 100% @a, 100% 100%, @b 100%, @b 0);
}


.file-icon {
  position: relative;
  width: @width;
  height: @height;
  border-width: 4px;

  .iconGradient(@white, 35px);
  .borderGradient(@border-color, 38px);
  .polygonPath(48px, -30px);

  border-style: solid;
  border-image-slice: 1;

  &::before {
    content: ' ';
    position: absolute;
    top: -4px;
    right: -4px;
    height: @fold-size;
    width: @fold-size;
    box-shadow: -2px 2px 0px 2px @border-color;
    border-bottom-left-radius: 5px;

    .foldGradient(2px);
  }

  &::after {
    content: 'zip';
    position: absolute;
    height: @label-height;
    width: @label-width;
    bottom: 20px;
    left: -30px;
    text-transform: uppercase;
    text-align: center;
    font-size: @font-size;
    color: @white;
    font-weight: 600;
    background: #1482C8;
  }

  &--small {
    width: @width / @small-divisor;
    height: @height / @small-divisor;
    border-width: 1px;

    .iconGradient(@white, 5px);
    .borderGradient(@border-color, 6.5px);
    .polygonPath(9.5px, -7px);

    &::before {
      top: -1px;
      right: -1px;
      height: @fold-size / @small-divisor;
      width: @fold-size / @small-divisor;
      box-shadow: -0.5px 0.5px 0px 0.5px @border-color;
      border-bottom-left-radius: 1px;

      .foldGradient(0.5px);
    }

    &::after {
      height: @label-height / @small-divisor;
      width: @label-width / @small-divisor;
      font-size: @font-size / @small-divisor;
      bottom: 5px;
      left: -7px;
    }
  }
}
